name: Test

on: [push, pull_request]

jobs:

  test:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: wordpress_test
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    strategy:
      matrix:
        include:
          - php: 7.4
            wp: latest
          - php: 7.3
            wp: 5.7
          - php: 7.2
            wp: 5.2

    name: PHP ${{ matrix.php }} / WP ${{ matrix.wp }} Test
    steps:
      - uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, intl , mysqli
          ini-values: post_max_size=256M, short_open_tag=On #optional, setup php.ini configuration
          coverage: xdebug #optional, setup coverage driver

      - name: Check PHP Version
        run: php -v

      - name: Composer install
        run: composer update --optimize-autoloader --prefer-dist

      - name: Install WP Tests
        run: bash bin/install-wp-tests.sh wordpress_test root root 127.0.0.1 ${{ matrix.wp }} true

      - name: Build
        run: |
          bash ./bin/build.sh

      - name: Install phpunit
        run: |
          composer require --dev "phpunit/phpunit=5.7.*|6.*.*|7.*.*" -W

      - name: phpunit tests
        run: |
          composer test
          WP_MULTISITE=1 composer test
